.aboutus-container {
  color: white;
  padding: 100px 50px;
  text-align: left;
}

.aboutus-content {
  max-width: 600px;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}